html,body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.clearFix {
  overflow: hidden;
}
.cover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.page:hover {
  color: #3dbcf5;
  background-color: #eee;
}

.color-hover { transition: all 0.3s; }
.color-hover:hover { color: #3dbcf5; }

.bg-color-hover { transition: all 0.3s; }
.bg-color-hover:hover { background-color: #3dbcf5; }

.hoverBtn { transition: all 0.3s; }
.hoverBtn:hover {
  color: white;
  background-color: #3dbcf5;
  border-color: #3dbcf5;
}

@keyframes round {
  0% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(405deg); 
  }
  100% {
    transform: rotate(405deg); 
  }
}

@-webkit-keyframes round {
  0% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(405deg); 
  }
  100% {
    transform: rotate(405deg); 
  }
}

@-moz-keyframes round {
  0% {
    transform: rotate(45deg);
  }
  60% {
    transform: rotate(405deg); 
  }
  100% {
    transform: rotate(405deg); 
  }
}

/*blue #00B7FF*/
/*blue #3dbcf5 */