
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pic:before { content: "\e600"; }
/*.icon-fenyeshangyiye:before { content: "\e601"; }
.icon-fenyexiayiye:before { content: "\e602"; }
.icon-fenyezuihouye:before { content: "\e603"; }
.icon-fenyezuiqianye:before { content: "\e604"; }*/
.icon-close:before { content: "\e613"; }
.icon-login:before { content: "\e608"; }
.icon-text:before { content: "\e609"; }
.icon-new:before { content: "\e60a"; }
.icon-user:before { content: "\e611"; }
.icon-logout:before { content: "\e60b"; }
.icon-wrench:before { content: "\e606"; }
.icon-upload:before { content: "\e607"; }
.icon-html:before { content: "\e60c"; }
.icon-password:before { content: "\e612"; }
.icon-home:before { content: "\e60e"; }
.icon-less:before { content: "\e60f"; }
.icon-more:before { content: "\e610"; }
.icon-select:before { content: "\e614"; }
